:root {
    --color-heading: hsl(0, 1%, 17%);
    --color-body: #7a7a7c;
    --color-accent: #f54519;
    
}

html {
    font-size: 62.5%;
}

/* Typography */
body {
    font-family: 'Open Sans' ,Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    line-height: 1.6;
    color: var(--color-body);
}

p {
    margin-top: 0;
}

h1, h2, h3 {
    font-family: 'Roboto' ,Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    color: var(--color-heading);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2.8rem;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 7rem;
    }
    
    h2 {
        font-size: 5rem;
    }
    
    h3 {
        font-size: 3.5rem;
    }   
}

/* Links */
a {
    text-decoration: none;
}

.link-arrow {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-heading);
}

.link-arrow::after {
    content: ">";
    margin-left: 1rem;
    transition: margin 0.3s;
}

.link-arrow:hover::after {
    margin-left: 18px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* lists */
.list {
    list-style: none;
}

.list--inline {
    display: flex;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.list--inline .list__item {
    margin: 0 1.3rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--color-body);
}

.list--inline a {
    color: var(--color-body);
}

.list--inline a:hover {
    color: var(--color-accent);
}

/* Icons */
