*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --color-heading: hsl(0, 1%, 17%);
    --color-body: #7a7a7c;
    --color-body-light: #f8f8f8;
    --color-accent: #f54519;
}

img {
    width: 100%;
}

html {
    font-size: 62.5%;
}

/* Typography */
body {
    font-family: 'Open Sans' ,Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--color-body);
    background-image: url(../images/bg6.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

p {
    margin-top: 0;
}

h1, h2, h3, h4 {
    font-family: 'Roboto' ,Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    color: var(--color-heading);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 7rem;
    }
    
    h2 {
        font-size: 5rem;
    }
    
    h3 {
        font-size: 3.2rem;
    }

    h4 {
        font-size: 2rem;
    }   
}

/* Links */
a {
    text-decoration: none;
    color: var(--color-heading);
}


.link-arrow {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-heading);
}

.link-arrow::after {
    content: ">";
    margin-left: 1rem;
    transition: margin 0.3s;
}

.link-arrow:hover::after {
    margin-left: 18px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* lists */
.list {
    list-style: none;
    padding: 1rem 4rem;
}

.list--inline {
    display: flex;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.list--inline .list__item {
    margin: 0 1.3rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--color-body);
}

.list--inline a {
    color: var(--color-body);
}

.list--inline a:hover {
    color: var(--color-accent);
}

/* Icons */
.icon {
    width: 450px;
    height: 45px;
    color: var(--color-heading);
}

.icon--small {
    width: 25px;
    height: 25px;
}

.icon--accent {
    background-color: red;
    border-radius: 100%;
    padding: 2px;
}

.icon--white {
    fill: #fff;
}

/* Buttons */
.btn{
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    padding: 2rem 7rem;
}

.btn--outline {
    border: 2px solid var(--color-heading);
    background: rgba(255, 255, 255, 0.35);
    border-radius: 5px;
    color: var(--color-heading);
}

.btn--outline:hover {
    border: 2px solid #fff;
    color: var(--color-heading);
    background: #fff;
}

.btn--stretched{
    padding: 1.2rem 12rem;
}

.btn--small {
    padding: 1rem 1rem;
}

.btn--accent {
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
}

.btn--accent:hover {
    color: #000;
    background: var(--color-accent);
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

input {
    font-size: 1.8rem;
    border-radius: 5px;
    padding: 0.8rem 7rem 0.8rem 1rem;
    margin-top: 1rem;    
}

input:focus, input:hover {
    border: 2px solid var(--color-accent);
}

.input-group {
    display: inline-flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    input {
        font-size: 1.5rem;
    }
}

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--3x3 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 auto;
        justify-items: center;
        align-items: center;
        padding: 0 2rem;
    }

    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        
    }
}

/* service */

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    padding: 2rem 3rem;
}

/* collapsibles */
.collapsible {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.collapsible__heading {
    margin-top: 0;
}

.collapsible__content {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
    max-height: 100%;
    opacity: 1;
}

/* nav bar */
.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1.5rem;
}

.nav__list{
    width: 100%;
    background: var(--color-heading);
}

.nav__item a {
    color: #fff;
    padding-bottom: 1rem;
}

.nav__item {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #fff;
}

.nav__item a:hover {
    color: var(--color-accent);
}

.nav__icon {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .nav__icon {
        display: none;
    }
    
    .nav__list {
        width: auto;
        display: flex;
        max-height: 100%;
        opacity: 1;
        background: none;
    }
    
    .nav__item {
        padding: 0 1.5rem;
        border-bottom: 1px solid var(--color-heading);
    }

    .nav__item a:hover {
        color: var(--color-accent);
        
    }

    .nav__item a {
        color: var(--color-heading);
    }
}

.logo {
    font-size: 30px;
    width: 70px;
    height: 70px;
    color: var(--color-heading);
    font-weight: 700;
    border: 2px solid var(--color-heading);
    padding: 8px 18px;
    margin: 0;
}

/* Block */
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* dishes */
.dish {
    display: flex;
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem 2rem;
    border-bottom: 1px solid var(--color-body);
}

.dish__image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 3.5rem;
}

.dish__heading {
    margin-top: 0;
}

.dish__price {
    color: var(--color-accent);
    font-size: 3rem;
}

/* into */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__heading {
    color: var(--color-heading);
}

/* gallery */
.gallery {
    background: var(--color-body-light);
    margin-top: 30rem;
    margin-bottom: 10rem;
    padding: 5rem 2rem;
} 

.gallery .grid {
    max-width: 120rem;
}

.gallery .content__body {
    padding: 2rem;
}

.gallery__body {
    text-align: center;
    margin-bottom: 6rem;
}

/* content */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__body {
    text-align: center;
}

.content a {
    padding-bottom: 1.5rem;
} 

/* Restaurant section*/
.restaurant {
    background: #fff;
    padding: 10rem;
}

/* Hero bg */
.hero {
    background: #fff;
}

/* Chefs*/

.chefs {
    max-width: 100rem;
    margin: 0 auto;
    column-gap: 50px;
    text-align: center;
    padding: 5rem;
}

.chefs__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    background: #eee;
}

.chef__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
}

.chef__image {
    width: 25rem;
    height: 25rem;
    border-radius: 100%;
}

.chefs__social {
    display: flex;
}

.chefs__social .icon {
    margin: 0 1rem;
    cursor: pointer;
}

.chefs__social .icon:hover {
    fill: rgb(255, 133, 51)
}

/* menu section */
.menu__section {
    padding-top: 5rem;
    padding-bottom: 10rem;
    background: #fff;
} 

.menu__section ul {
    padding: 3rem 0;
}

/* service section */
.service__section {
    background: #eee;
    padding-top: 10rem;
}

.service img {
    width: 100px;
    height:100px;
}

.service__section p {
    margin-bottom: 10rem;
}

/* reservation */

.reservation {
    padding-bottom: 10rem;
    background: #fff;
}
.reservation__info {
    gap: 30px;
}

.reservation .btn{
    margin-top: 4rem;
}

.reservation p {
    margin-bottom: 7rem;
}

.footer {
    background: #0f0f0f;
    padding: 5rem 7rem;
    gap: 10px;
}

.footer h4, .footer label {
    color: #fff;
}

.footer .icon {
    margin-bottom: 4rem;
}

.footer .btn {
    background: none;
} 

.footer .btn:hover {
    background: var(--color-accent);
    color: #000;
    border: none;
}